In [1]:
## Importing the libraries

import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv",encoding = 'latin-1')

In [3]:
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [5]:
list_2017 = df['Y2017'] 
list_2017

0        41389.00
1            0.00
2         3341.00
3           92.82
4           80.19
           ...
60938       19.00
60939        1.33
60940        1.00
60941        0.04
60942        0.02
Name: Y2017, Length: 60943, dtype: float64

In [6]:
#Q16
list_2017.mean()

140.9177648602722

In [7]:
list_2017.std()

1671.8623590567995

In [8]:
df.isna().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [9]:
# finding percentage of missing data in 2014
Y2014_missing = (1589/60943)*100
Y2014_missing

2.6073544131401474

In [10]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [11]:
#Q 12 finding element that has  least correlation with â€˜Element Codeâ€™
df.corr()

C:\Users\yeswa\AppData\Local\Temp\ipykernel_13580\1520949883.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [12]:
#total number of unique countries in the dataset
df['Area'].unique()

array(['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso',
       'Cabo Verde', 'Cameroon', 'Central African Republic', 'Chad',
       'Comoros', 'Congo', "CÃ´te d'Ivoire", 'Djibouti', 'Egypt',
       'Eswatini', 'Ethiopia', 'Ethiopia PDR', 'Gabon', 'Gambia', 'Ghana',
       'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia',
       'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius',
       'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda',
       'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone',
       'South Africa', 'Sudan', 'Sudan (former)', 'Togo', 'Tunisia',
       'Uganda', 'United Republic of Tanzania', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [13]:
#Q 18
len(df['Area'].unique())

49

In [14]:
# Qn 17 finding the total number of the sum of Processing in 2017
df.groupby('Element').sum()

C:\Users\yeswa\AppData\Local\Temp\ipykernel_13580\2062013126.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Element').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [15]:
df1 = df[df['Element']=='Protein supply quantity (g/capita/day)']

In [16]:
df1

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
6,4,Algeria,2903,Vegetal Products,674,Protein supply quantity (g/capita/day),g/capita/day,67.14,67.38,67.37,66.11,67.10
9,4,Algeria,2941,Animal Products,674,Protein supply quantity (g/capita/day),g/capita/day,27.76,26.97,27.35,26.71,24.73
25,4,Algeria,2905,Cereals - Excluding Beer,674,Protein supply quantity (g/capita/day),g/capita/day,49.43,49.54,50.01,48.86,49.36
41,4,Algeria,2511,Wheat and products,674,Protein supply quantity (g/capita/day),g/capita/day,43.20,43.33,43.85,43.18,42.85
...,...,...,...,...,...,...,...,...,...,...,...,...
60903,181,Zimbabwe,2769,"Aquatic Animals, Others",674,Protein supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00
60911,181,Zimbabwe,2775,Aquatic Plants,674,Protein supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00
60921,181,Zimbabwe,2928,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.05,0.04
60931,181,Zimbabwe,2680,Infant food,674,Protein supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04

In [17]:
#Q14
df1.groupby('Area').sum()

C:\Users\yeswa\AppData\Local\Temp\ipykernel_13580\1853950823.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df1.groupby('Area').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area,,,,,,,,
Algeria,432,291489,72792,379.56,377.37,378.84,371.26,367.28
Angola,791,304356,76162,231.66,214.15,201.69,208.06,212.20
Benin,5777,293767,73466,275.28,271.97,266.19,256.90,255.90
Botswana,2260,304560,76162,275.18,278.52,272.37,258.51,263.26
Burkina Faso,26329,304269,76162,321.31,317.99,317.63,310.70,320.57
Cabo Verde,3640,280998,70096,276.71,278.41,281.52,282.49,283.43
Cameroon,3680,309693,77510,287.66,291.53,292.10,284.15,287.57
Central African Republic,4181,304086,76162,175.05,173.70,176.29,184.45,178.29
Chad,4290,296797,74140,254.70,252.28,251.81,251.34,245.98
Congo,5198,304663,76162,207.55,227.08,220.38,227.09,232.33
CÃ´te d'Ivoire,12412,312274,78184,221.81,232.59,231.14,238.66,230.39
Djibouti,7272,273345,68074,256.89,269.59,262.07,264.96,262.76
Egypt,6549,299448,74814,396.65,394.87,385.89,393.58,390.07
Eswatini,22572,291593,72792,241.71,237.71,240.20,242.59,248.04
Ethiopia,27370,309614,77510,256.04,259.82,263.05,264.99,265.34
Gabon,8214,299301,74814,341.68,345.41,329.01,322.40,316.46
Gambia,7950,285696,71444,255.90,257.67,258.85,262.12,262.91
Ghana,9234,307136,76836,246.17,241.71,234.14,243.84,246.36
Guinea,10170,304354,76162,222.41,227.46,232.68,229.66,229.56
Guinea-Bissau,18900,290604,72792,169.16,168.61,173.18,175.49,173.01
Kenya,12996,307107,76836,247.69,251.73,246.79,241.52,246.96
Lesotho,12932,286288,71444,268.58,254.50,241.04,293.21,266.61
Liberia,14145,309673,77510,157.81,159.43,159.14,165.25,171.13
Madagascar,14319,299405,74814,177.79,173.05,173.40,175.75,176.64
Malawi,14950,309719,77510,267.38,272.49,270.99,277.86,268.26
Mali,14630,295917,74140,324.30,319.85,322.70,330.79,334.30
Mauritania,15232,301674,75488,329.35,329.77,328.91,323.22,328.33
Mauritius,15070,296607,74140,345.86,348.06,343.31,347.45,355.56
Morocco,15730,296539,74140,395.78,398.74,399.43,399.05,404.24
Mozambique,15984,299320,74814,182.24,178.39,175.48,178.06,169.64
Namibia,16317,299266,74814,248.87,253.89,257.83,262.04,262.98
Niger,18012,306935,76836,310.65,316.78,329.03,329.92,330.36
Nigeria,18444,312258,78184,236.22,230.08,232.89,233.27,234.45
Rwanda,21160,309637,77510,242.15,238.70,240.89,238.91,236.52
Sao Tome and Principe,20844,290381,72792,213.38,211.04,215.30,210.94,218.05
Senegal,22815,314811,78858,233.35,237.77,248.27,250.49,249.27
Sierra Leone,21670,296303,74140,206.00,203.57,200.32,203.33,204.07
South Africa,22220,296557,74140,341.76,345.95,338.32,334.56,337.47
Sudan,32292,314586,78858,296.55,295.08,293.61,291.90,291.87
Togo,24087,298858,74814,239.81,231.59,233.47,229.80,233.85
Tunisia,24198,294047,73466,401.34,401.32,403.66,400.21,399.16
Uganda,25990,309710,77510,209.76,201.20,197.46,193.18,187.74
United Republic of Tanzania,24725,309673,77510,246.12,246.35,247.79,246.97,235.74
Zambia,28614,307097,76836,236.41,240.87,237.91,236.22,242.08
Zimbabwe,20453,304589,76162,184.23,175.31,172.72,175.31,176.57

In [18]:
df3 = df[['Area','Y2017']]
df3.groupby('Area').sum()

                                  Y2017
Area
Algeria                       325644.27
Angola                        229159.57
Benin                         124771.22
Botswana                       22101.30
Burkina Faso                  101855.07
Cabo Verde                     14650.74
Cameroon                      232030.43
Central African Republic       29937.00
Chad                           71594.68
Comoros                           59.84
Congo                          41181.68
CÃ´te d'Ivoire                 224599.01
Djibouti                       22729.91
Egypt                         866379.92
Eswatini                       54343.33
Ethiopia                      448683.76
Ethiopia PDR                       0.00
Gabon                          27979.64
Gambia                         23154.18
Ghana                         337599.06
Guinea                         98138.87
Guinea-Bissau                  19102.77
Kenya                         264660.66
Lesotho                        21267.96
Liberia                        29342.20
Madagascar                    131197.73
Malawi                        181098.71
Mali                          149928.33
Mauritania                    156665.46
Mauritius                      51114.83
Morocco                       388495.36
Mozambique                    161407.98
Namibia                        29874.89
Niger                         126707.58
Nigeria                      1483268.23
Rwanda                         73663.69
Sao Tome and Principe          12662.63
Senegal                        95681.15
Seychelles                       442.34
Sierra Leone                   55311.33
South Africa                  517590.54
Sudan                         239931.92
Sudan (former)                     0.00
Togo                           49841.88
Tunisia                       124167.20
Uganda                        213950.38
United Republic of Tanzania   322616.85
Zambia                        103223.77
Zimbabwe                       75919.34

In [19]:
# Q2
df3.groupby('Area').sum().max()

Y2017    1483268.23
dtype: float64

In [20]:
df.groupby('Item').sum()

C:\Users\yeswa\AppData\Local\Temp\ipykernel_13580\3872019965.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Item').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Item,,,,,,,,
"Alcohol, Non-Food",38447,752497,1515090,2403.00,2180.00,2223.00,2348.00,2293.00
Alcoholic Beverages,75016,1649136,2171381,102410.11,98783.72,96958.75,95581.06,97847.27
Animal Products,18060,397035,90990,11935.65,11811.73,11661.69,11547.65,11578.61
Animal fats,85279,1882494,2567303,209460.54,200675.72,183314.22,269617.53,269648.27
Apples and products,69280,1352989,1920418,9499.23,10559.15,9853.26,10198.90,9640.51
...,...,...,...,...,...,...,...,...
"Vegetables, Other",77779,1518715,2275409,155038.96,158104.08,156218.90,157752.59,163987.21
Vegetal Products,18060,391905,90990,107145.19,107064.17,106792.72,107655.20,107775.39
Wheat and products,87073,1639683,2654934,232670.13,234710.51,239377.07,240047.62,242645.19
Wine,66206,1319535,1818328,4497.36,4251.81,3872.09,4178.02,4039.32
Yams,50798,970905,1525745,200396.96,203151.78,220626.20,229174.59,221272.09

In [21]:
#q11
df4 =pd.DataFrame(df.groupby('Item').sum())
df4

C:\Users\yeswa\AppData\Local\Temp\ipykernel_13580\2838666778.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df4 =pd.DataFrame(df.groupby('Item').sum())

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Item,,,,,,,,
"Alcohol, Non-Food",38447,752497,1515090,2403.00,2180.00,2223.00,2348.00,2293.00
Alcoholic Beverages,75016,1649136,2171381,102410.11,98783.72,96958.75,95581.06,97847.27
Animal Products,18060,397035,90990,11935.65,11811.73,11661.69,11547.65,11578.61
Animal fats,85279,1882494,2567303,209460.54,200675.72,183314.22,269617.53,269648.27
Apples and products,69280,1352989,1920418,9499.23,10559.15,9853.26,10198.90,9640.51
...,...,...,...,...,...,...,...,...
"Vegetables, Other",77779,1518715,2275409,155038.96,158104.08,156218.90,157752.59,163987.21
Vegetal Products,18060,391905,90990,107145.19,107064.17,106792.72,107655.20,107775.39
Wheat and products,87073,1639683,2654934,232670.13,234710.51,239377.07,240047.62,242645.19
Wine,66206,1319535,1818328,4497.36,4251.81,3872.09,4178.02,4039.32
Yams,50798,970905,1525745,200396.96,203151.78,220626.20,229174.59,221272.09

In [22]:
df5 = pd.DataFrame(df.groupby('Element').sum())

C:\Users\yeswa\AppData\Local\Temp\ipykernel_13580\3359767387.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df5 = pd.DataFrame(df.groupby('Element').sum())

In [23]:
# Q 20
my_Dict = dict(df5.loc['Stock Variation'][3:])

In [24]:
my_Dict

{'Y2014': 58749.83,
 'Y2015': 34910.99,
 'Y2016': 33140.12,
 'Y2017': 54316.91,
 'Y2018': 20577.91}